#num5,#num22,#num28,#num29,#num54,#num55 { background: #85C1E9; } /*azul*/


#num1,#num3,#num6,#num8,#num9,#num10,#num18,#num32,#num34 { background: #58D68D; }  /*verde*/
  

#num36,#num38,#num40,#num42,#num47,#num48,#num54,#num55, #num57, #num50,#num60,#num61 { background: #58D68D; }  /*verde*/