#num4,#num6,#num13,#num14,#num34,#num39,#num47,#num62,#num { background: #85C1E9; } /*azul*/


#num8,#num17,#num18,#num19,#num20,#num21,#num26,#num28,#num29,#num32,#num36,#num38,#num42 { background: #58D68D; }  /*verde*/
  

#num45,#num48,#num50,#num54,#num55,#num57,#num59,#num63, #num65, #num66, #num67 { background: #58D68D; }  /*verde*/
