#num5,#num6,#num8,#num13,#num14,#num18,#num28,#num29,#num34,#num36,#num47,#num48 { background: #85C1E9; } /*azul*/
  
  
#num54,#num55,#num63 { background: #85C1E9; } /*azul*/  


#num1,#num3,#num4,#num7,#num9,#num10,#num11,#num12,#num17,#num20,#num21,#num22,#num24 { background: #58D68D; }  /*verde*/
  

#num25,#num26,#num30,#num31,#num32,#num33,#num35,#num37, #num38,#num39,#num40 { background: #58D68D; }  /*verde*/
 

#num41,#num42,#num44,#num45,#num46,#num49,#num50,#num51, #num52,#num53,#num57 { background: #58D68D; }  /*verde*/
  

#num58,#num59,#num60,#num61,#num64, #num65 { background: #58D68D; }  /*verde*/
