#num1,#num3 { background: #85C1E9; } /*azul*/


#num5,#num7,#num8,#num9,#num10,#num11,#num12,#num13,#num14,#num15,#num16 { background: #58D68D; }  /*verde*/
  

#num20,#num22,#num24,#num26,#num27,#num35,#num38,#num39, #num40,#num41,#num42 { background: #58D68D; }  /*verde*/
 
#num47,#num48,#num51,#num52,#num56,#num57,#num58,#num60, #num61,#num64, #num65 { background: #58D68D; }  /*verde*/
