#num1,#num2,#num3,#num12,#num15,#num16,#num24,#num27,#num47,#num48,#num56,#num58 { background: #85C1E9; } /*azul*/


#num5,#num6,#num7,#num8,#num9,#num10,#num11,#num17,#num18,#num20,#num22,#num23,#num26 { background: #58D68D; }  /*verde*/
  

#num35,#num38,#num40,#num41,#num43,#num51,#num52,#num53, #num57,#num60,#num61 { background: #58D68D; }  /*verde*/